* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #333;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: cadetblue;
    padding: 15px;
    text-align: center;
    margin-bottom: 30px;
}

main {
    text-align: center;
}

textarea {
    border: 2px solid #999;
    background: transparent;
    border-radius: 5px;
    padding: 10px;
    font-size: 17px;
    color: #fff;
    width: 300px;
    height: 100px;
    outline: 0;
}

select,
button {
    display: block;
    width: 300px;
    border: 2px solid #999;
    background: transparent;
    border-radius: 5px;
    padding: 10px;
    margin: 10px auto;
    color: white;
    font-weight: bold;
    font-size: 17px;
    outline: 0;
}

option {
    background-color: #333;
}

select:disabled,
button:disabled {
    opacity: .1;
}