* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.screen{
    display: flex;
    height: 100vh;
}

.leftSide {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.leftSide img {
    max-width: 500px;
    height: auto;
}

.rightSide {
    width: 400px;
    background-color: #DDD;
    padding: 50px;
}

.rightSide label {
    display: block;
    margin-bottom: 20px;
}

.rightSide input {
    width: 100%;
    border: 1px solid #999;
    border-radius: 5px;
    padding: 8px;
    font-size: 14px;
    outline: 0;
}

.button {
    cursor: pointer;
    background-image: linear-gradient(to right, cadetblue, rgb(25, 121, 124));
    color: white;
}

.error {
    font-size: 16px;
    color: red;
}