@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Oswald:wght@400;700&display=swap');

body{
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
}

header .line{
    height: 10px;
    background-color: #117050;
}

.container{
    max-width: 1150px;
    margin: auto;
}

.header--area{
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
}

.header--left img{
    width: 64px;
}

.header--right{
    display: flex;
    align-items: center;
}

.header--search form{
    display: flex;
}

.header--search input{
    font-size: 16px;
    padding: 8px 15px;
    width: 100%;
    max-width: 250px;
    border: 1px solid #999999;
    outline: 0;
}

.header--search button{
    border: 0;
    background: transparent;
    margin-left: -30px;
    cursor: pointer;
}

.header--search button img{
    width: 16px;
    height: 16px;
}

.header--menu {
    margin-left: 50px;
    cursor: pointer;
}

.header--menu img{
    width: 24px;
    height: 24px;
}

.banner {
    background-image: url('../images/bg.jpg');
    background-position: center;
    background-size: cover;
    padding: 90px 0;
}

.banner h1{
    font-size: 90px;
    font-weight: bold;
    font-family: 'Oswald', 'Sans Serif';
    line-height: 100px;
    margin: 0;
    margin-bottom: 30px;
}

.banner--images{
    margin-top: 60px;
}

.banner--images img{
    width: 148px;
    height: 148px;
    border: 6px solid #117050;
    border-radius: 50%;
    margin-right: 40px;
}

.area1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}


.area1--img1{
    background-color: green;
    
}

.area1--img2{
    background-color: red;
    grid-column: 2 / 3;
    grid-row: 1 / 3;
}
