* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
    overflow-y: hidden;
    overflow-x: hidden;
}

h1 {
    color: #FFF;
    margin: 20px 0;
}

.busca {
    display: flex;
    width: 300px;
}
.busca #searchInput {
    flex: 1;
    padding: 10px;
    outline: none;
    font-size: 15px;
    border-radius: 5px;
    border: 0;
}
.busca button {
    padding: 10px;
    font-size: 15px;
    border: 0;
    background-color: #555;
    color: #FFF;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
}
.busca button:hover {
    background-color: #444;
}

.resultado {
    width: 300px;
    display: none;
    border: 1px dotted #FFF;
    margin-top: 20px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.2);
}

.titulo {
    width: 100%;
    color: #FFF;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    padding: 20px;
}

.info {
    display: flex;
    width: 100%;
}
.info .temp {
    flex: 1;
    text-align: center;
}
.info .vento {
    flex: 1;
    text-align: center;
}
.tempTitulo,
.ventoTitulo {
    color: #777;
    font-size: 16px;
    margin-bottom: 5px;
}
.tempInfo,
.ventoInfo {
    color: #FFF;
    font-size: 30px;
    font-weight: bold;
}
.tempInfo sup {
    font-size: 15px;
    font-weight: normal;
}
.ventoInfo span {
    font-size: 15px;
    font-weight: normal;
}
.ventoArea {
    width: 50px;
    height: 50px;
    border: 1px solid #FFF;
    border-radius: 50%;
    margin: auto;
    margin-top: 20px;
    padding-left: 25px;
    padding-top: 25px;
}
.ventoPonto {
    width: 15px;
    height: 1px;
    background-color: #FFF;
    transform-origin: left;
}

.aviso {
    color: #FFF;
    padding-top: 20px;
}

footer {
    margin-top: 20px;
    color: #FFF;
    font-size: 13px;
}





/*   Animações - quente   */
@keyframes nuvem1 {
    0% {top: 0; left: -100px}
    25% {top: 0; left: 50%}
    50% {top: 0; left: 100%}
    75% {top: 0; left: 50%}
    100% {top: 0; left: -100px;}
}

@keyframes nuvem2 {
    0% {top: 80px; left: -100px}
    25% {top: 80px; left: 50%}
    50% {top: 80px; left: 100%}
    75% {top: 80px; left: 50%}
    100% {top: 80px; left: -100px;}
}

@keyframes nuvem3 {
    0% {top: 160px; left: -100px}
    25% {top: 160px; left: 50%}
    50% {top: 160px; left: 100%}
    75% {top: 160px; left: 50%}
    100% {top: 160px; left: -100px;}
}

.section-hot{
    background-color: rgb(0, 129, 180);
}

.section-hot-clouds{
    position: absolute;
    top: 0;
    width: 100vw;
}

.section-hot-cloud {
    height: 100px;
    width: 100px;
    position: absolute;
    background-image: url('../images/nuvem.png');
    background-size: cover;
    background-position: center;
    display: none;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.section-hot-cloud.p1{
    top: 0;
    left: -100px;
    animation-name: nuvem1;
    animation-duration: 50s;
    animation-delay: 1s;
}

.section-hot-cloud.p2 {
    top: 80px;
    left: -100px;
    animation-name: nuvem2;
    animation-duration: 47s;
    animation-delay: 2s;
}

.section-hot-cloud.p3 {
    top: 160px;
    left: 0;
    left: -100px;
    animation-name: nuvem3;
    animation-duration: 48s;
    animation-delay: 3s;
}

.section-hot-sun {
    height: 50px;
    width: 50px;
    background-image: linear-gradient(0deg, orange, yellow);
    border-radius: 50%;
    margin-top: 30px;
    margin-left: 80%;
    display: none;
}


/*  Animações - frio */
@keyframes neve { 
    0% { 
        transform-origin: center center; 
        transform: rotate(-360deg); 
    }
    100% {
        transform-origin: center center; 
        transform: rotate(0); 
    } 
}

.section-cold{
    background-color: rgb(94, 140, 192);
}

.section-cold-snow {
    position: absolute;
    animation: neve 5s linear infinite;
    background-image: url('../images/neve.png');
    background-size: cover;
    background-position: center;
    display: none;
}

.section-cold-snow.p1{
    height: 200px;
    width: 200px;
    top: 200px;
    left: -50px;
}

.section-cold-snow.p2{
    height: 150px;
    width: 150px;
    top: 20px;
    left: calc(100vw - 100px);
}


/*  Git  */
@keyframes git { 
    0% {
        transform: translateY(0); 
    }
    25% {
        transform: translateY(-20px); 
    }
    50% {
        transform: translateY(0px); 
    }
    75% {
        transform: translateY(-10px); 
    }
    100% {
        transform: translateY(0px); 
    }
}

.meu-git{
    height: 50px;
    width: 50px;
    background-image: url('../images/github.png');
    background-size: cover;
    background-position: center;
    position: absolute;
    top: calc(100vh - 75px);
    left: calc(100vw - 75px);
    text-decoration: none;
}

.meu-git:hover {
    animation-name: git;
    animation-duration: 1s;
}


@media (max-width: 450px) {
    .meu-git{
        top: calc(100vh - 100px);
    }

    .section-cold-snow.p1{
        height: 100px;
        width: 100px;
        top: 15px;
        left: -15px;
    }
}